<div class="body">
<div class="heading">
  <h2>SPAARKS ASSIGNMENT</h2>
  <h2 class="headingspace">{{date | date:'mediumDate'}}</h2>
</div>
<div class="main">
    <div>
      <form [formGroup]="registration">
        <div>
          <input formControlName="name" placeholder="Name">
        </div>
        <br>
        <div>
          <input formControlName="phoneNumber" placeholder="Phone Number">
        </div>
        <br>
      </form>
      <button class="addcontactbtn" [disabled]="registration.status=='INVALID'" (click)="addcontact()">ADD Contact</button>
  </div>
  <div class="contactbook"> 
    <app-contactbook [contactDetails]="registreddata" (clearData)="clearAllContacts()" (editData)="editContact($event)" (deleteData)="deleteContact($event)" >
    </app-contactbook>
  </div>
</div>
</div>